[2019-05-22 13:02] geoffreygarrett opened #2 "Unable to build boost-python-examples with tudatBundle (branch:develop)"
The following information is returned for versioning of g++, make, gcc.

[code]

When building `/boost-python-examples` in the following way:

[code]

The following debugging information is returned for a successful compilation, with all tests passed:

[code]

Now trying to obtain the same results from compiling the tudatBundle: **When only adding** `add_subdirectory( "${PROJECTROOT}/boost-python-

[2019-05-23 12:50] #2 closed, assigned to nobody

[2019-06-12 17:20] geoffreygarrett opened #3 "Undefined symbol: _ZTVN5boost9unit_test15unit_test_log_tE"
**Reproduction of error**:

_Clone forked tudatBundle and build_: Some changes will need to be made to the tudatBundle. I have made modifications on my fork of the repository below. Be sure to checkout the feature/tudatpy branch.
**Repository**: https://github.com/ggarrett13/tudatBundle.git
**Branch**: feature/tudatpy

[code]

_Check 2/3 tests pass_:  `cd tudatpy && make test`

[code]

_Invoke pyt

[2019-06-12 17:58] ggarrett13 opened #4 "tudat::spice_interface::loadStandardSpiceKernels() not loading kernels in Python wrapper"
The following example of implementing `tudat::simulation_setup::loadStandardSpiceKernels()` does not work in a Python environment when calling `load_standard_spice_kernels`, resulting in a spice error concerning no loaded kernels.
[code]
@DominicDirkx would you be able to give me an idea of `loadStandardSpiceKernels()` and its scope. I went into the source code, but temporarily fixed this by just

[2019-07-10 10:56] #3 closed, assigned to DominicDirkx

[2020-05-02 09:56] #4 closed

[2020-05-07 19:54] transferorbit opened #5 "Failed: fetch of submodule tudatExampleApplications during init"
In step 6 of the installation `git submodule update --init --recursive`, fetching of the commit for `tudatExampleApplications` failed.
Step 6 output is attached; key lines are:
[code]
[fetchInitFailure.txt](https://github.com/ggarrett13/tudatpy/files/4595408/fetchInitFailure.txt)

[2020-05-08 06:50] DominicDirkx commented on #5
I ran into the same issue, it's an issue of this version of the bundle looking for a commit of the example applications that doesn't exist in: https://github.com/tudat/tudatExampleApplications. If you just manually clone the example applications, everything should work

[2020-06-23 12:14] ggarrett13 opened #6 "SPICE(FILEREADFAILED) - osx filepath management broken"
Linked to the conda smithy build. It has to do with the placholder extension of filepaths in conda before replacement of new prefix paths.

https://github.com/tudat-team/tudatpy-feedstock/issues/1

[2020-06-29 21:53] ggarrett13 commented on #6
[Resolved](https://github.com/tudat-team/tudatpy-feedstock/issues/1).

[2020-06-29 21:53] #6 closed

[2020-07-09 16:46] ggarrett13 opened #7 "Any SPICE errors will not be output in Jupyter Notebook (kernel crashed)"
If spice kernels are requested, which are not loaded, execution of code in a Jupyter Notebook will be met with no output, only a crashed kernel. This is similar to when tests fail without output in tudat, when files are not found. Can we resolve this and somehow raise an error that can be displayed in tudat test failure and informative tudatpy errors?

Steps to reproduce:

1. Open binder at https:

[2020-07-10 06:56] DominicDirkx commented on #7
Spice does provide a number of ways in which to handle its errors:

https://naif.jpl.nasa.gov/pub/naif/toolkit_docs/C/req/error.html

The specific options that are available are listed here:

https://naif.jpl.nasa.gov/pub/naif/toolkit_docs/C/req/error.html#Choosing%20the%20Error%20Response%20Action

Spice does print an error message to the terminal, can this output not be piped to the Notebook out

[2020-07-10 12:30] ggarrett13 commented on #7
Hey Dominic, did the binder not eventually load? I used the link and it loaded fine for me. Let me know if binder doesn't load, it took less than a minute for me on the screen that you shared a screenshot of.

Regarding the error handing with spice, I'll have a look into it.

[2020-07-10 12:49] DominicDirkx commented on #7
Hi Geoffrey, it seems to be loading fine now. I was in a bit of a hurry this morning, so there's a good chance I was just being impatient :)

[2020-10-25 14:06] transferorbit opened #13 "Example jupyter notebook (Brightspace) → error: acceleration + cannonball_radiation_pressure"
After a fresh (and wrinkle-free) install of `TudatPy` following Brightspace and readthedocs steps, I ran the _example jupyter notebook_ from the _Survey/Announcement_ on the [NumAstro Brightspace page](https://brightspace.tudelft.nl/d2l/lms/survey/user/attempt/survey_start_frame.d2l?isprv=1&si=49546&ou=278334).
Upon execution, this immediately throws the error below, but if I’m not mistaken, the f

[2020-10-25 15:32] ggarrett13 commented on #13
Problem with the code on brightspace, thanks for the reporting @transferorbit!

[2020-10-25 15:32] #13 closed

[2020-11-19 15:44] Nosudrum opened #14 "Initial state format when propagating multiple bodies"
Hello,

Could you please let me know how I should define the initial state variable used in the propagator setup when propagating multiple bodies ?

I am referring to the `initial_state` variable in the following command :
[code]

I have looked at the multi-body dynamics part of the docs [here](https://tudat-space.readthedocs.io/en/latest/_src_api/propagation_setup/dynamics_types/multi_body.html)

[2020-11-19 16:28] Nosudrum commented on #14
Thank you !

Is it the same for acceleration models ? because the following does not seem to work : I get an "incompatible function arguments" error at the `acceleration_models = propagation_setup.create_acceleration_models(...)` line.

[code]
I have defined `bodies_to_propagate` and `central_bodies` as
[code]

[2020-11-19 19:28] ggarrett13 commented on #14
Hi again!

In this case you need to have a single `dict` with a key-value pair corresponding to each propagated body. You can do this in two ways, depending on how you want your code to be read:

*option 1*: Separate initial dictionaries combined into a single

[code]
*option 2*: One dictionary for both bodies initially defined

[code]

*note*
- `np.hstack` will only work with numpy arrays.

[2020-11-19 19:34] ggarrett13 commented on #14
@Nosudrum for any further smaller questions that are not a bug or improvement, but more related to documentation, we can communicate over gitter [here](https://gitter.im/tudat-space/tudatpy?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge).

[2021-01-04 09:22] s-m-e opened #16 "Documentation 404?"
https://tudat-team.github.io/tudatpy/ as well as https://tudat-team.github.io as linked in the readme file for documentation throws HTTP 404.

[2021-01-04 10:09] transferorbit commented on #16
The link to the documentation has been updated (to: [https://tudat-space.readthedocs.io](https://tudat-space.readthedocs.io)). No separate link to  [https://tudat-team.github.io](https://tudat-team.github.io) exists in the `README.md` file (although that link does also throw a `404`.

[2021-01-04 10:09] #16 closed

[2021-04-04 04:19] spacefan opened #17 "Should the documentation be updated?"
[code]

---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
<ipython-input-17-1e18b48c9338> in <module>
      1 bodies_to_create = ["Sun", "Earth", "Moon", "Mars", "Venus"]
      2
----> 3 body_settings = environment_setup.get_default_body_settings(
      4     bodies_to_create,
      5     simulati

[2021-04-06 06:46] DominicDirkx commented on #17
Indeed, the examples that are in the repository are out of date. We have had to release tudatpy well ahead of schedule due to unforeseen circumstances, and this is one of the points that is still on our long to do list. But, we should have this resolved in the coming weeks.

If you're interested in tudatpy, let us know what you plan to be using it for, it's always great to see people using our pro

[2021-04-07 05:48] spacefan commented on #17
The bad experience proves that this is an immature project, maybe I should switch to other tools, such as Orekit, Celestlab, unless I need to use C++ or Python to build application scenarios

[2021-04-07 05:48] spacefan commented on #17
The bad experience proves that this is an immature project, maybe I should switch to other tools, such as Orekit, Celestlab, unless I need to use C++ or Python to build application scenarios.

[2021-04-07 05:48] #17 closed

[2021-05-07 15:03] geoffreygarrett opened #19 "Project creation command-line tool"
There's a tool I worked on for generating desired project types `C++/Python/Pybind` from `jinja2` templates (`tudatpy/cli`) which is a prototype. Creating this issue as it needs to be documented and polished.

Other functions that will stem from this tool, will be the autogeneration of `tudat` features (e.g. acceleration models) in external standalone projects, so that additional features can be c

[2021-05-31 13:03] tevanham opened #20 "Solar sail radiation implementation"
The example in the documentation under Solar Sail Radiation Interface gives this error:
`AttributeError: module 'tudatpy.kernel.simulation.environment_setup.radiation_pressure' has no attribute 'solar_sail'`

[documentation](https://tudat-space.readthedocs.io/en/latest/_src_api/environment_setup/create_models/available.html#radiation-pressure-interfaces)

I have searched in this repository for sol

[2021-05-31 13:14] DominicDirkx commented on #20
Quick reply, see below copy-pasted from a similar query last week (in Dutch) concerning the use of this code in the Planetary Sciences II course. The same principle holds for your DSE assignment, I think. Let me know if you'd like to discuss this further

Het solar sailing model in Tudat is niet zo heel goed geschikt voor een 'snel' ontwerp van een baan. Het werkt door functies in te geven die de

[2021-05-31 13:14] #20 closed

[2021-05-31 13:31] tevanham commented on #20
I have some ideas for the parametrization of the solar sail angles. Namely sinusoid functions or step functions. My tutor (Jeannette Heiligers) specializes in solar sailing, so she could probably also help me with the parametrization.

[2021-06-01 09:18] DominicDirkx commented on #20
In that case, send me an e-mail, and we can discuss it further (note that I am our of office on Wednesdays). Still, I doubt that using Tudat for this, which will always do a full propagation of the equations of motion, and will require an optimization loop to get to a transfer that is even valid, is the most effective way to go. But, we can have a discussion over e-mail (or Zoom if needed) to chec

[2021-10-20 15:12] FilippoOggionni opened #22 "Investigate autocomplete on PyCharm and stubs files"
Original issue was [there](https://github.com/tudat-team/project-management/issues/2).

Resource: https://tudat.slack.com/archives/D01GSTLQT1S/p1620138100040900
(private chat between @ggarrett13 and @FilippoOggionni)

Back to pybind auto-generated stubs
I have looked into pybind11 options, specifically the options.disable_function_signatures() that you talked about in the thread. Unfortunately, it

[2021-10-20 15:12] FilippoOggionni commented on #22
Slack conversation:

Geoffrey 2 months ago

Unfortunately, it is not something that I can (yet) try out locally
how so?
Geoffrey 2 months ago
(on a side note, is the length of the string an issue only for the autogenerated docs?);
Basically just appearance...

Geoffrey 2 months ago
And the fact that the function signature type hint alone would probably span more than a single line alone.

Filippo

[2021-11-02 10:22] DominicDirkx commented on #22
I had a conversation with @transferorbit yesterday, and managed to get the autocomplete working on vim! @transferorbit : could you post a summary of what you did to achieve this? A similar workflow may be feasible in other IDEs as well.

[2021-11-08 22:45] transferorbit commented on #22
Yes, I have successfully managed to get autocompletion working within `vim`. Here’s a [screenshot demo](https://www.dropbox.com/s/mic0jf111pkm7kb/vim%20omni-completion%20demo.mov?dl=0).
Hopefully I haven’t forgotten any details about what’s necessary to make this happen, but in the end it wasn’t even hard. And the cool thing is, in contrast to most of what you’ll see when searching the web, you ca

[2021-11-30 10:46] FilippoOggionni opened #26 "Saving single term of spherical harmonic acceleration causes runtime error"
If the third argument of [this function](https://tudatpy.readthedocs.io/en/latest/dependent_variable.html#tudatpy.numerical_simulation.propagation_setup.dependent_variable.spherical_harmonic_terms_acceleration_norm) is called with a list of only one tuple, the program crashes.

*Example*
✅ the following works:
`propagation_setup.dependent_variable.spherical_harmonic_terms_acceleration_norm( "Space

[2021-12-24 14:27] #7 closed

[2021-12-25 12:13] gaffarelj opened #27 "Feature request: array comparison"
A function should be added to the utilities to compare the results from two different simulations.
Two arrays corresponding to propagated data from different time epochs can then be compared, using an interpolator.
This allows comparing simulations with each other, comparing for instance results from a modified simulation w.r.t. a baseline.
Options should be made on what to do if the second simula

[2021-12-25 12:16] gaffarelj opened #28 "Feature request: expose time conversions"
A new utility should be added to allow to convert a float or an array of Julian Dates used by Tudat (seconds since J2000), to "normal" Roman dates.

[2021-12-25 12:27] gaffarelj opened #29 "Feature request: mute std out/std err"
A class could be added in the utilities to silence any message that goes through std out and/or std err (both by default).
This can for instance be called using a `with` statement, encapsulating the simulation itself, so that any print message can be directly muted.

[2021-12-25 12:33] gaffarelj opened #30 "Feature request: Pareto optimum solutions"
A utility could be added to return an array of booleans representing whether each of the solutions from an optimisation is Pareto-optimal or not.
This can be done for two objectives (to get a Pareto front), or for more than two objectives.

[2021-12-25 12:36] gaffarelj opened #31 "Feature request: dual y-axis plot"
A new function could be added in the plotting module to allow for plotting with a dual y-axis. The resulting (matplotlib) figure and axis are then returned to let the user edit the plot further before saving.

[2021-12-28 14:36] gaffarelj commented on #27
Implementation done, see commit [4fc387a](https://github.com/tudat-team/tudatpy/commit/4fc387a1c797cc29c40e98076804a1e70f0c2c9f).

[2021-12-28 14:36] #27 closed

[2021-12-28 16:36] gaffarelj commented on #29
Implemented this in `tudatpy.util.redirect_std`, pushed in commit [7a14a0b](https://github.com/tudat-team/tudatpy/commit/7a14a0b93bf6eee98f42d2d66fe182f9e2aba51f).

[2021-12-28 16:36] #29 closed

[2021-12-28 21:05] gaffarelj commented on #28
To do this, the time conversions included in tudat have to be exposed. These can be seen [here](https://github.com/tudat-team/tudat/blob/834207f11989212d2c25231a8e91a5f0451ad463/include/tudat/astro/basic_astro/timeConversions.h).

[2021-12-31 17:40] gaffarelj opened #32 "Feature request: 3d plotting"
A new function could be added to plot curves in 3D to show the trajectory of a vehicle.

This plot can optionally include different bodies as markers (including a central body), as well as the trajectory from different bodies.

The information for the position (marker) and trajectory (curve) of these body could either be specified by arrays/vectors and strings for the legend, or only as strings an

[2022-01-07 12:54] gaffarelj opened #33 "tudatpy.kernel.io to be added to the documentation"
The `tudatpy.kernel.io` module should be added on [tudatpy.readthedocs.io](https://tudatpy.readthedocs.io).

It is useful to find where the resources (like space weather) are located on the machine.

[2022-01-07 13:50] gaffarelj commented on #33
Actually, not all of it is exposed, only the basics.
Missile datcom  and solar activity data in tudat io could be exposed too.

[2022-01-08 23:11] gaffarelj commented on #30
This has been implemented as `tudatpy.util.pareto_optimums`, as pushed in commits [733b138](https://github.com/tudat-team/tudatpy/commit/733b138edb3ed234120f86398038966cdecab6da) and [a4f6c56](https://github.com/tudat-team/tudat-multidoc/commit/a4f6c5640a11133066864b94bf9e8b8f28115b86).

The documentation associated with this new function can be seen on [tudatpy API docs](https://tudatpy.readthedo

[2022-01-08 23:11] #30 closed

[2022-01-10 15:27] DominicDirkx commented on #30
Nice addition, and good initiative. Thanks!

[2022-01-10 15:29] DominicDirkx commented on #33
Indeed, there are various functions/classes in IO that should be documented, and exposed

[2022-01-10 15:48] gaffarelj commented on #32
I was thinking of using `matplotlib.pyplot` for this. From my experience, while it is not directly aimed at this kind of plots, it is the go-to library for plotting in Python.

In my mind, this plotting utility would basically allow to make the [last plot from the thrust_between_Earth_Moon.py example](https://github.com/tudat-team/tudatpy-examples/blob/1f8180b0064226175bbe66e3eaf044f229a897f6/prop

[2022-01-10 15:55] DominicDirkx commented on #29
Nice feature, thanks for proposing and adding it! Have you also added an API entry?

[2022-01-10 16:49] gaffarelj commented on #29
Yes I have, you can find the associated documentation [here](https://tudatpy.readthedocs.io/en/latest/util.html#tudatpy.util.redirect_std).

[2022-01-10 16:50] gaffarelj commented on #27
Yes I have, you can find the associated documentation [here](https://tudatpy.readthedocs.io/en/latest/util.html#tudatpy.util.compare_results).

[2022-01-11 16:43] gaffarelj commented on #28
The documentation is now complete too.

The new module is `tudatpy.astro.time_conversion`, and its associated documentation can be found [here](https://tudatpy.readthedocs.io/en/latest/time_conversion.html).

@FilippoOggionni and @DominicDirkx, could you give the documentation page a quick look, and confirm that there are no issues when using this new module? If so, I will then close this issue.

[2022-01-11 18:12] FilippoOggionni commented on #28
Great job on this @gaffarelj !

I quickly skimmed through the documentation and everything seems in order. I see that you have not built the conda package yet, correct?

A few remarks from my side:

- since this module relies a lot on time systems and references, it would be nice to have a reference (I think one for the entire page will suffice, it is not needed to add a reference for each entry)

[2022-01-11 18:46] gaffarelj commented on #28
Indeed, I haven't built the conda package. I actually haven't looked in how to do that yet.

About your remarks:
- [This reference](https://www.ucolick.org/~sla/leapsecs/timescales.html) seems to be very complete, based on the International Astronomical Union resolutions from 1976, and is actually referred to by different softwares.
- Thanks for planning on improving the code snippets this way.
-

[2022-01-11 19:07] FilippoOggionni opened #227 "Add API docs for the tudatpy.kernel.constants module"

[2022-01-11 21:38] gaffarelj commented on #28
Actually, these constants are defined in [timeConversions.h](https://github.com/tudat-team/tudat/blob/b8149dc3cc40c14e242599bc0951d7fba6caf3bd/include/tudat/astro/basic_astro/timeConversions.h), and these are the ones set as default inputs (and not hard-coded numbers), see [here for instance](https://github.com/tudat-team/tudatpy/blob/28305a1fe9fbfff576e29c24c5a91e7cda7e6ca6/tudatpy/kernel/expose_

[2022-01-11 22:18] FilippoOggionni opened #35 "Error in plotting module"
When doing:
[code]
this error is thrown:
[code]

This is likely the reason why the API docs for the [plotting](https://tudatpy.readthedocs.io/en/latest/plotting.html) module are empty (interestingly enough, they do show up when producing the API docs locally - likely because the local system retrieves docstrings directly from the source code instead of tudatpy objects).

[2022-01-11 22:35] FilippoOggionni commented on #28
I see, but I originally meant in the docstrings, where they are hard-coded (see for instance [here](https://github.com/tudat-team/tudat-multidoc/blob/941068d5bc2363c35bf527f3e751c17bdc989f2c/docstrings/astro/time_conversion.yaml#L62)). There, I would rather have something like:
[code]
instead of the actual number (the actual number can be made explicit in the description of the function, if needed

[2022-01-11 22:44] FilippoOggionni commented on #35
I tried locally and by installing the ``basemap-data-hires`` package the error is solved.

Attempting a fix of the online docs by adding such package to the ``environment.yaml`` files (see tudat-team/tudat-bundle@c636ddde0ee3df03b44c376931d1e5480df89ce6 and tudat-team/tudat-multidoc@5acd73edd7de58541d78b5b56aa52c8a0070bd98).

[2022-01-11 23:18] FilippoOggionni commented on #35
Build is finished but the ``plotting`` module on the API reference is still empty... 🤔

[2022-01-11 23:34] gaffarelj commented on #35
I just looking into the raw log for the last API docs build ([here](https://readthedocs.org/api/v2/build/15743357.txt)).

This exception is raised when running the plotting script is run:
[code]

I believe the error is caused by the fix required for Jupyter. I would advise simply setting a `try` and `catch`, so that the error is handled in case the `CONDA_PREFIX` is unknown in the environment. We

[2022-01-12 11:13] FilippoOggionni commented on #35
Thanks for looking into this! I tried the fix you suggested (see 82bb79a943b9bab2ae2e0bc4f8d9838eece4740b), let's see if it works.

[2022-01-12 11:19] gaffarelj commented on #35
Perfect 🤞

I have actually started expending `util`, by adding `compare_results`, `pareto_optimums`, and `redirect_std`.
For `plotting`, I have plans for [3D trajectory plotting](https://github.com/tudat-team/tudatpy/issues/32) and [dual y-axis plotting](https://github.com/tudat-team/tudatpy/issues/31) functions.

[2022-01-12 11:54] gaffarelj commented on #35
I see it's still not building. It looks like the fix for Jupyter is actually also needed for the API build:
[code]

[2022-01-12 11:58] gaffarelj commented on #35
The workaround I see would be to set `PROJ_LIB=/home/docs/checkouts/readthedocs.org/user_builds/tudatpy/share/proj` (I didn't check, could be something slightly different), when we detect that we are on readthedocs. This could be done by checking the path?

I don't see another solution for now, though there is probably something more elegant to extract the conda path when `CONDA_PREFIX` is not set

[2022-01-12 12:13] FilippoOggionni commented on #35
Can you try to implement it please? @gaffarelj

[2022-01-12 12:15] gaffarelj commented on #35
I can take a look at it when I have time yes.

[2022-01-12 12:52] FilippoOggionni commented on #28
I made my changes in 6edd2f6abeabfaf9723e9b6463448b0acc807e8d. I am testing locally and then push it online.
@gaffarelj I saw that the last few functions do not have examples, is this intended?

[2022-01-12 14:29] gaffarelj commented on #28
Thanks a lot.

Yes, I decided to not put examples for the last functions, since they are in my opinion very straightforward so that the example included for the first one can simply be re-used and applied to the other functions.

I think not putting examples helps keep things cleaner, and easier to read through.

[2022-01-12 15:13] FilippoOggionni commented on #28
Until now, the "policy" was to provide an example for each function, even if it was straightforward, but I see your reasoning and what you say makes sense. This is something we can discuss on Friday, so that we can find a shared "guideline" (another similar case is the [dependent variable](https://tudatpy.readthedocs.io/en/latest/dependent_variable.html) module).

I have also tested all the functi

[2022-01-12 15:26] gaffarelj commented on #35
The [plotting API docs](https://tudatpy.readthedocs.io/en/latest/plotting.html) are nowlive.

I fixed this with commit [51f6d1b](https://github.com/tudat-team/tudatpy/commit/51f6d1bb7c8ffb5998a0f986905d0e925a3c8f08).

[2022-01-12 15:26] #35 closed

[2022-01-12 15:47] DominicDirkx commented on #28
This looks very good, the one thing I would add is a reference, as requested. For time scales, I find chapter 2 of this document:

https://www.usno.navy.mil/USNO/astronomical-applications/publications/Circular_179.pdf/view

very clear.

Concerning the versioning, it's on the agenda :)

[2022-01-12 16:04] gaffarelj commented on #28
Perfect. I will add this reference, then move it to "done".

[2022-01-12 19:05] gaffarelj commented on #28
The new reference has been added as part of commit [3841031](https://github.com/tudat-team/tudat-multidoc/commit/3841031635436959f03d2fa37f2fa4ffcea15a73).

[2022-01-13 12:37] gaffarelj opened #36 "Feature request: expose DATCOM + add force coefficient file writing"
The MissileDATCOM methods that are in `tudat::input_output` should be exposed to Python.

In addition, a function could be added to `MissileDatcomData` to save the force coefficients in the same format as the files that have to be inputs of [`aerodynamic_coefficients.tabulated_force_only_from_files`](https://tudatpy.readthedocs.io/en/latest/aerodynamic_coefficients.html#tudatpy.numerical_simulatio

[2022-01-13 14:41] DominicDirkx commented on #22
Somehow this issue has magically been resolved: auto-complete is now working

[2022-01-13 14:41] #22 closed

[2022-01-13 16:06] gaffarelj commented on #36
A new function has been added to `tudat::input_output::MissileDatcomData`, to save not all the coefficients, but only the force and moment coefficients.

These are saved in files as a function of angle of attack, and Mach number, in the format that can be used as input of [`environment_setup.aerodynamic_coefficients.tabulated_from_files`](https://tudatpy.readthedocs.io/en/latest/aerodynamic_coeffi

[2022-01-13 16:21] gaffarelj commented on #36
`tudatpy.io.missile_DATCOM_data` is now exposed. This was pushed in 065e23089754b053fe8aa7309486c10b911999d2.

[2022-01-14 11:10] jo11he opened #37 "Expose functionality around DopplerProperTimeRateSettings base class"
DopplerProperTimeRateSettings base class is exposed, but no factory functions.

Thus python users don't have the ability to create all required parameters to use:

one_way_open_loop_doppler
two_way_open_loop_doppler

factory functions.

[2022-01-14 12:23] geoffreygarrett opened #38 "Automated releases: `Rever: Releaser of Versions`"
The following features need to be implemented and adopted from Rever:

- Changelog
- Github releas
- Conda release

See [Rever docs](https://regro.github.io/rever-docs/index.html#)

[2022-01-21 11:06] gaffarelj commented on #36
A unit test has to be added for this, as well as API documentation.

[2022-01-21 11:41] gaffarelj opened #41 "Add short matplotlib tutorial on tudat-space"
On the [post-processing page of tudat-space](https://tudat-space.readthedocs.io/en/latest/_src_resources/post_processing.html), content could be added about how to make cleaner `matplotlib` plots.

This can include:
- The use of a grid.
- The use of a tight layout.
- The change of the font size.
- The change of line and marker size and style.
- The use of colormaps.
- The use and position of legen

[2022-01-21 11:42] gaffarelj opened #42 "Add new utilities and plotting tools"
New plotting tools and utilities could be added asap, so they are ready for students before they start the P&O course.

Here is the current list of tools to be added:

**Plotting:**
- [x] Add a function to create `matplotlib` plots with a dual y-axis (#31)
- [x] Add a function to create 3D `matplotlib` plots to show the trajectory of different bodies (#32)
- [x] Add a function to create `matplotli

[2022-01-21 11:43] gaffarelj commented on #42
@DominicDirkx @FilippoOggionni @jo11he @transferorbit : please all feel free to add your suggestions and thoughts on this.

[2022-01-21 11:44] gaffarelj opened #43 "Feature request: Pareto fronts plotting"
A function can be added to the `plotting` module to create `matplotlib` plots comparing two optimization objectives, and to add a Pareto front.

The front is to be placed differently depending on whether the objectives have to be minimized or maximized.

A third objective (or problem value) could be added by the means of a colormap.

[2022-01-22 20:17] jo11he opened #228 "Placement of full mathematical model parametrisation & linking from API docs"
As soon as there is a consensus on how and where model descriptions (mathematical, incl. clear parametrisation, as now can be found in the technical documentation pdf) will be disseminated (see this [thread](https://tudat.slack.com/archives/C01NSEK6CLC/p1642177975007700), there should be links to these model descriptions from the docstrings of the applicable

- [ ] environment_setup modules
- [ ]

[2022-01-22 20:28] jo11he opened #229 "Add tidal model parameters to API docs"
tidal model estimatable parameters are not yet included in the API docs, mainly because I don't anything about them.

My guess is they are strongly linked to the `environment_setup.gravity_field_variations` module, which is not yet documented.
I recommend to document this module first, including sufficiently extensive model descriptions, then add tidal parameters in parameter module and refer to m

[2022-01-22 20:31] jo11he opened #237 "Add code examples to estimation api docs"
I have not yet included the code-examples section in the estimation API docs, where we started to put code snippet examples for the usage of each documented function (see environment_setup, propagation_setup API docs for example).

@DominicDirkx you can probably assign somebody who is most suited for this task.

[2022-01-22 20:44] jo11he opened #45 "Formally incorporate tudatpy changelog into the news(?) workflow"
I send a changelog of the changes introduced by the `refactor/estimation_documentation` branch.
We probably have a way to handle this properly now, probably through the news workflow(?)

@FilippoOggionni can you take care of that pls?

[2022-01-22 20:44] jo11he commented on #45
changelog is in the ppt I send you on slack

[2022-01-22 20:45] jo11he commented on #45
analogously for changes to tudat maybe, but I did not want to open a separate issue for that (also only two entries in the changelog)

[2022-01-22 21:06] FilippoOggionni opened #46 "Understand and fix rever ("news" workflow)"
# Background

@ggarrett13 originally set up the `rever` tool for both tudat and tudatpy. [Rever](https://regro.github.io/rever-docs/news.html) is a tool to manage release versioning, based on the news workflow where each contributor maintains a changelog. An (unfinished) [page](https://tudat-developer.readthedocs.io/en/latest/primer/devops/release_versioning.html#release-versioning) on the tudat d

[2022-01-22 21:12] FilippoOggionni commented on #45
Yes, I will take care of it or at least keep it under my radar (both for tudat and tudatpy). The news workflow is currently on hold (see #46), but thanks for writing the changelog! 🔝

[2022-01-22 21:24] FilippoOggionni commented on #46
Output from rever (on tudatpy):

[code]

[2022-01-25 20:17] gaffarelj commented on #28
I reopened this issue so I don't forget to proof-read the API documentation page one more time. Some placeholders are still on it.

[2022-01-26 13:50] gaffarelj commented on #28
Fixed with [c919846](https://github.com/tudat-team/tudat-multidoc/commit/c91984667d36ca49c4a155cc30593b899b98ea4c).

[2022-01-26 13:50] #28 closed

[2022-02-02 17:13] jo11he opened #48 "CMake: "NRLMSISE00::nrlmsise00" target was not found."
Configuring the tudatpy build with the `-DTUDAT_BUILD_WITH_NRLMSISE00=ON`  Cmake option gives a

`Target "kernel" links to target "NRLMSISE00::nrlmsise00" but the target was
  not found.  Perhaps a find_package() call is missing for an IMPORTED
  target, or an ALIAS target is missing?`

warning in the configuration output, which eventually leads to a

`ld: library not found for -lNRLMSISE00::nrlms

[2022-02-03 16:38] cfortunylombra opened #49 "Bug when defining the viability settings"
Hi all,

From the documentation, I found out that there are two ways to put the viability settings into the simulation settings. One way is to put the list with all the viability settings in the following way:
[code]
In this way, the number of observations is reduced, in order to comply with the viability requirements set. However, when I add the viability settings into the simulation settings usi

[2022-02-04 11:32] gaffarelj commented on #31
This functionality has been added with 5453acdcf3485cb197df9dd5953821637b948071.
The documentation can be found [here](https://tudatpy.readthedocs.io/en/latest/plotting.html#dual_y_axis).

[2022-02-04 11:32] #31 closed

[2022-02-04 13:25] DominicDirkx commented on #49
Issue has been fixed by an update to tudat: https://github.com/tudat-team/tudat/issues/54

[2022-02-04 13:25] #49 closed

[2022-02-06 15:31] gaffarelj commented on #32
This tool has been added as `plotting.trajectory_3d()` with 7ec580b5e28772fbb89dac51ffc9dcdec003fba7.

The associated API documentation can be found [here](https://tudatpy.readthedocs.io/en/latest/plotting.html#tudatpy.plotting.trajectory_3d).

[2022-02-06 15:57] #32 closed

[2022-02-08 14:37] ggarrett13 commented on #32
I won't reopen this, but just fruit for thought, it's common with plotting features in libraries to offer different backends using a `backend` argument (e.g. Poliastro from memory). One could add a `backend=='plotly'` catch to produce interactive plots in Jupyter Notebooks. [Here's an example from my DSE project for an Earth-Jupiter-Pluto trajectory.](https://chart-studio.plotly.com/create/?fid=Jo

[2022-02-08 17:19] gaffarelj commented on #32
Thanks for the suggestion, but I am not 100% certain of what you mean. Are you suggesting that, depending on what the user inputs for `backend`, I switch the module used for plotting (for instance between `matplotlib` and `plotly`)?

[2022-02-09 01:24] geoffreygarrett commented on #32
That's exactly what mean.

[2022-02-11 10:58] cfortunylombra opened #234 "Document the order of the estimated parameters"
Hi all,

I struggled slightly in finding the order of the estimated parameters. For my thesis, I need to estimate the `periodic_spin_variations` and `polar_motion_amplitudes` for Mars, but I did not find useful documentation for the order of these parameters. I know that `periodic_spin_variations` are 8 parameters and `polar_motion_amplitudes` are 20 parameters. But, I do need to understand the or

[2022-02-15 08:14] geoffreygarrett opened #51 "(Ignore me) Playgound issue for GitHub workflow bot"
@ghworkflow help

[2022-02-15 08:17] geoffreygarrett commented on #51
@ghworkflow help

[2022-02-15 08:40] geoffreygarrett commented on #51
/test

[2022-02-15 08:51] geoffreygarrett commented on #51
/test

[2022-02-16 08:27] geoffreygarrett commented on #46
Still forming a solution to this such that tudat and tudatpy can release simultaneously. Managed to get the rerendering automated via GitHub workflows, a step in the right direction.

[2022-02-17 13:42] geoffreygarrett commented on #46
Currently fixing the email addresses in tudats commit history so that the authors feature of rever works. Many commits had `hidden@hidden.com` for multiple users, and only one person can map to an email. Lot's of fun.

[2022-02-17 16:09] geoffreygarrett commented on #46
Anonymous emails have been resolved, git history has been modified with some interesting by products:

[2022-02-22 17:42] gaffarelj commented on #33
I have created a `feature/document-io` branch in both the `tudatpy` and `tudat-multidoc` repos, to start adding the documentation of the `io` module to the API docs.
For now, I will only include the functions, classes, and enumerations that have already been exposed. (I will not expose anything new for now).

[2022-02-22 23:19] gaffarelj opened #230 "Request: change of style for enumeration"
It bugs me a little that, for the API docs of enumerations, the entire text appears to be inside quotation blocks.
For instance, in the picture below, it seems to me that the text beside the green lines should be out of the lighter box, at the same "level" as the "members:" text.
![image](https://user-images.githubusercontent.com/50528981/155235799-b268afb5-d4b8-43bb-8c8a-9c642192e855.png)
I do no

[2022-02-23 14:50] gaffarelj commented on #33
To build the API docs for both the C++ methods exposed to Python (such as `get_resource_path`) and direct Python methods (such as `save2txt`) on the same API page, I had to make some changes to the organization of the `io` module.

My changes make all of the io methods available inside the `tudatpy.io` module. Before, the Python methods had to be imported as `tudatpy.io` and the C++ exposed method

[2022-02-23 15:30] gaffarelj commented on #33
Also (@FilippoOggionni) I added the `pandas` module as a requirement to the `tudatpy-docs`, `tudat-multidoc`, and the `tudat-bundle` environemnts. This is because the `save2txt` function that is implemented in the `tudatpy.io` module uses `pandas` and the API docs build fail if `pandas` is not installed.

[2022-02-23 15:46] gaffarelj commented on #36
The docstrings have been added to these new Missile DATCOM methods with [a036e67](https://github.com/tudat-team/tudat-multidoc/pull/37/commits/a036e673eab2d7d61a34c22f0aa974ca1003af65).

[2022-02-24 14:51] DominicDirkx commented on #33
Hi Jeremie, good to see this up! Due to a number of other pressing tasks, I will likely have a look at this by coming Monday or Tuesday at the earliest. Apologies for the delay,

[2022-02-24 17:43] gaffarelj commented on #33
Thank you, there is no rush for this indeed 🙂

[2022-03-01 21:29] gaffarelj commented on #43
I have implemented this as the `plotting.pareto_front()` method. Since this feature is quite light and completely separated from anything else, I pushed it directly to develop with 41cc66fe65e3b63cbaae56ba9b22445c835af678.

The documentation is now building and should be shown soon on [this page](https://tudatpy.readthedocs.io/en/latest/plotting.html#tudatpy.plotting.pareto_front).

Please @Domini

[2022-03-03 09:13] DominicDirkx opened #56 "Small estimation updates"
- [ ] Provide a final time for arc-wise CD/Cr estimation

[2022-03-03 15:42] jo11he opened #57 "Feature Request: Expose all members of high-level objects"
I notice that the exposition of members of high-level objects is still quite incomplete. This leads to situations where the user is left clueless, e.g. when trying to retrieve environment parameters after a simulation (or estimation) from the environment.
One example I can give is the `body` object, which does for example not have its `radiation_pressure_interface` member exposed. I am sure there

[2022-03-03 15:52] jo11he commented on #57
There are more issues with this, namely that there is no `RadiationPressureInterface` class exposed in python, such that - even if the class was exposed as a member of `body` - the members of `RadiationPressureInterface` (or rather the parameters defining the instance of that class) are not accessible to the tudatpy user.

Another example of this is the `aerodynamic_coefficient_interface`, which i

[2022-03-03 20:41] gaffarelj commented on #57
I can take care of this, little by little.

I do encourage anyone to drop new elements in this thread when they see that something is still missing, using checkboxes for each element to be exposed so that I can follow whether something has been done already or not.

(cc @DominicDirkx @FilippoOggionni @geoffreygarrett)

[2022-03-03 20:47] gaffarelj opened #58 "Feature request: termination settings when apogee is reached"
A new termination setting could be added to Tudat to stop a propagation when apogee is reached.

This would be particularly useful for ascent simulations and could be triggered either when the vertical velocity becomes negative, or when the vehicle starts losing altitude.

[2022-03-03 20:50] gaffarelj commented on #58
Alternatively, this could be implemented as a dependent variable that is `False` when apogee is not reached, and `True` if apogee is reached. It could even be added as a flight condition and/or dependent variable. This way, the propagation could continue, but the user could use this flight condition to trigger some change in vehicle behavior after apogee.

[2022-03-04 10:21] geoffreygarrett commented on #58
Hi @gaffarelj, something I pulled out from an old Slack thread might provide a good starting point, just to point out you can call on objects states in a custom termination function in Python.

The following snippet was intended for a launch segment, and was designed to terminate the simulation when the vehicles relative speed w.r.t. Earth was greater than circular orbit velocity at the vehicles a

[2022-03-04 10:22] DominicDirkx commented on #58
Good idea! Here, an important question is: what is the exact definition of apogee? The first point where dh/dt < 0? Calculating dh/dt may be cumbersome for some shape models. Alternative is the point where the angle between position and velocity vectors becomes larger than 90 degrees (flight path angle < 0 degrees?).

[2022-03-04 10:28] gaffarelj commented on #58
Hi @geoffreygarrett, thank you for the code you just shared. I actually implemented something similar in a new tudatpy rocket ascent example that I pushed yesterday [here](https://github.com/tudat-team/tudatpy-examples/blob/master/propagation/two_stage_rocket_ascent.ipynb), to terminate at apogee using a custom function.

What I wanted to address in this issue is that perhaps other users would fin

[2022-03-04 10:32] gaffarelj commented on #58
@DominicDirkx good point. I think that defining it as the moment where the angle between velocity and position becomes > 90 deg would be best.

I would be cautious about using the flight path angle directly because of the whole orientation confusion, but I don't know if the orientation of the vehicle is actually used to compute the flight path angle.

We could also just offer an option to alternat

[2022-03-04 10:38] geoffreygarrett commented on #58
I don't know if I'm missing something but is flight path angle not simply the angle between the horizon and the velocity vector, what does the orientation confusion refer to? I think it would be a good solution. @DominicDirkx we could also add an exact termination with a root solver fairly easily for this right?

[2022-03-04 10:41] gaffarelj commented on #58
The confusion is my own: I'm still quite confused about how lots of orientations are computed and handled in tudat :)

But then indeed, if the flight path angle is computed like this, it would be perfect.

[2022-03-04 10:44] DominicDirkx commented on #58
Indeed, the flight path angle does not use the body orientation, only its translational state. One possible issue is that the flight path angle becomes singular if speed is 0, which will happen at apogee.... So, using the FPA to find apogee may not be the best option. We could set it to FPA < 0, not FPA <= 0, but the angle will behave chaotically near V=0 (apogee). So, possibly not the best option

[2022-03-04 10:52] geoffreygarrett commented on #58
AHH yes @DominicDirkx, I recall now it was a general implementation for any termination condition, my question was under the presupposition that it wasn't generalized to a custom one.

Regarding my previous hesitation on adding an extra dependent variable to Tudat, that came from the Zen of Python:

But I think in this case, it's a good addition to have as a default go-to.

[2022-03-04 15:17] DominicDirkx commented on #43
Very nice, with one small request: could you add explicitly in the documentation that this relates to a two-dimensional Pareto front? You can generate Pareto fronts for any number of objectives >1 (but plotting becomes cumbersome as it becomes much 3, 4 or larger...). I would be tempted to modify the function name accordingly as well, but I think we should keep that as it is.

[2022-03-04 16:30] gaffarelj commented on #33
Thanks!

[2022-03-04 16:30] #33 closed, assigned to gaffarelj

[2022-03-04 18:03] gaffarelj commented on #43
I've updated the API docs to make it clearer that this is aimed at dual-objective optimisation. I also renamed the parameter that allows to plot extra information as a colormap, so it doesn't seem like this is a third objective anymore

[2022-03-04 20:16] #43 closed

[2022-03-04 23:32] gaffarelj opened #60 "Unfriendly error message for bad custom thrust function"
If a `custom_thrust_magnitude` or `custom_thrust_direction` setting is used, but one of the custom functions that is input (e.g. `thrust_magnitude_function` or `specific_impulse_function`) returns void instead of a float, the following warning is raised:
[code]

This does not give any real clue that the function that was input is the culprit of the numerical simulation failing.
I would suggest to

[2022-03-05 10:42] gaffarelj commented on #60
Actually, giving this a little more thought, this check should probably be carried during the propagation and not the setup, since the custom thrust functions most often depend on the environment/vehicle at a given time.

I think a check could be made to check the type of the value that is returned by the function, instead of assuming that it is always a double.

[2022-03-05 11:13] geoffreygarrett commented on #60
The error is being raised by PyBind11, so we would either need to catch the Runtime error, and raise a more detailed error or do the check - both alternatives can only work in a pure Python wrapper. The check as you suggested, is more appealing to me right now.

These wrappers can get quite messy, and haven't existed since an earlier version of tudatpy. There is an example in an old commit in the

[2022-03-05 18:07] FilippoOggionni commented on #33
A bit late in reviewing, but I went through it and have no remarks. Great job!

[2022-03-07 11:19] pietrosilvagni opened #61 ""ModuleNotFound" error when importing "plot_miller_ground_track""
When importing "plot_miller_ground_track" using this line:

" from tudatpy.plotting import plot_miller_ground_track "

The following error is shown:

" from mpl_toolkits.basemap import Basemap

ModuleNotFoundError: No module named 'mpl_toolkits.basemap' "

I have already discussed this with Dominic, and it looks like this error message is due to a bug.

[2022-03-07 11:47] geoffreygarrett commented on #61
@gaffarelj & @DominicDirkx, this is ideally fixed by adding `matplotlib` and `basemap` to [this list here](https://github.com/tudat-team/tudatpy-feedstock/blob/a6ff15ca05c2231347a619d12ba5df79aab87bcd/recipe/meta.yaml#L59) in the feedstock. If I understand correctly, `matplotlib` is currently installed via an environment file which includes `tudatpy` for the courses. Since `tudatpy` has a `matplot

[2022-03-07 11:49] geoffreygarrett commented on #61
Also, to add a test during the conda packaging, `tudatpy.plotting.plot_miller_ground_track` can be added [here](https://github.com/tudat-team/tudatpy-feedstock/blob/a6ff15ca05c2231347a619d12ba5df79aab87bcd/recipe/meta.yaml#L71), which will test the function by simply importing it, catching what @pietrosilvagni encountered.

[2022-03-07 15:11] gaffarelj commented on #61
I made the appropriate changes with [this commit](597d2e4c9a4918d024e651cc1bccdb97255addf5).

@pietrosilvagni in your case, instead of re-installing tudatpy when the next conda package is released, you can run the following two lines in the conda environment in which you use tudatpy:
[code]

[2022-03-07 15:11] #61 closed

[2022-03-12 10:21] #36 closed

[2022-03-19 12:25] DominicDirkx commented on #26
I finally decided to have a look a this: the issue is not in pybind, but in Tudat. In this case, the dependent variable is a scalar, but in the general case it will be a vector, leading to this being incorrectly processed. I've made a modification to the code that should correct it. Tests are now building.

[2022-03-20 16:55] gaffarelj commented on #26
I assume that these tests passed, and that we can now close this issue @DominicDirkx ?

[2022-03-21 07:54] #26 closed

[2022-03-23 14:36] gaffarelj opened #63 "Tudat astro gravitation to be exposed and documented"
The `tudatpy.kernel.astro.gravitation` module should be expanded with the latest classes, functions, and enums. Also, docstrings should be made so this module is documented in the API.

[2022-03-24 18:02] gaffarelj commented on #63
For now, most importantly, the `BodyDeformationTypes` enum needs to be exposed and documented, to make the `single_per_term_gravity_field_variation_acceleration` dependent variable usable

[2022-03-26 13:18] manuflo97 opened #235 "TidalTimeLag"
%Add a function to calculate the tidal time lag
Q = 35600; % Jupiter quality factor from Lainey (Nature)
Qio = 50; % Io quality factor
omega = 1.76e-4; % Jupiter spin rotation in rad/s
n = 2*pi/152853.5; % Mean motion

TimeLagJup = (atan(1/Q))/(2*abs(n-omega)) % on the planet
TimeLagIo = (152853.5/(2*pi))*atan(1/Qio) % on the satellite

[2022-03-29 17:29] gaffarelj opened #64 "[New feature] Plotting function for position + velocity + orientation history"
Add a function to plot the position history (in 2D [let the user select a pair in x, y, z] or 3D), with the velocity history as vectors going from each point (to show at each moment where the vehicle is going), and optionally the orientation of the vehicle (at some discrete points, put an oriented image [for 2D]).

[2022-04-07 15:02] manuflo97 opened #65 "Spherical harmonics variations does not work"
Hi guys, I was trying to use the gravity_field_variation function but it does not have any effect (https://py.api.tudat.space/en/latest/gravity_field_variation.html#functions).
There is probably some issue with the conda package.

[2022-04-08 11:12] DominicDirkx commented on #65
Hi Manuel,

You had a python script where you were trying to use this functionality. Could you link to it?

[2022-04-08 14:26] DominicDirkx commented on #65
So, apparently the conda package is fine, it's my understanding of Python when writing the examples that is wrong. This works:

[code]
This:
[code]
does not. I think it's because body_settings.get("Io").gravity_field_variation_settings returns the list of gravity field variations, and not a reference/pointer. I'll update the docs

[2022-04-08 14:26] #65 closed

[2022-04-08 19:52] manuflo97 commented on #65
Thanks a lot!

[2022-04-15 07:45] gregoriomarchesini opened #173 "Ground track using cartopy"
Hi
I have developed a small piece of code that can visualize ground tracks using cartopy
The available list of map is listed in the documentation of the function.

I tried it and it works for me. You have to install cartopy from conda, but nothing else is required (apart from numpy, but this is pretty normal to have).

If you think it is useful, let me know.
I hope it will help

Have a super day!

[2022-04-21 10:48] MiguelAvillez opened #464 "Error checking: singularity of spherical harmonics potential gradient"
The computation of the gradient of the potential for spherical harmonics has a singularity for latitudes of +90º and -90º. If I'm not mistaken, the singularity occurs when computing the derivative of the Legendre polynomials. Might be worth checking whether the user tries to compute the acceleration at those points and throwing an error/warning if so.

Code triggering the issue is attached.

[test

[2022-06-03 10:32] briha commented on #48
I had to rollback those changes back to the original block (i.e. reverting the changes done in 0ff7d0f5a0452ac1ccfff54423cf0827870d81c3) for it to compile. Without doing so, it would fail to find the NRLMSISE00 package:

[code]

I was attempting to compile on osx-arm64, which may thus be the issue.

[2022-06-21 14:00] gaffarelj opened #75 "Merge tudatpy.io and tudatpy.kernel.interface"
The `tudatpy.io` and `tudatpy.kernel.interface` submodules should be merged together since they contain methods of similar scopes.

Important to note: the `tudatpy.io` module contains a mix of Python and C++ (exposed to Python) methods. The code exposed from C++ is actually in `tudatpy.kernel.io` (which is mentioned nowhere so users don't use that directly). The code that is directly written in Py

[2022-07-05 20:55] gaffarelj commented on #58
I am closing this issue. It was not obvious to me at the time, but indeed using the flight path angle to determine when apogee is reached turned out to be perfect. So, no additional termination setting should be added for this. (It may still be good to describe this use case somewhere in the guide or the ascent example.)

[2022-10-29 09:43] MiguelAvillez opened #465 "CR3BP module: comments and suggestions for expansion"
Hi all,

Just leaving some comments on the current state of the CR3BP module  (this [branch](https://github.com/tudat-team/tudat/tree/feature/cr3bp)) and some suggestions for future developments.

**Initial guess:**

- The current code generates the initial guess for Lagrange point orbits (LPOs) using a Lindstedt-Poincaré method, which requires the user to provide the initial guess for the amplitu

[2022-11-08 11:17] DominicDirkx commented on #60
With the new thrust interfaces, this is now taken care of. All of the classes that are referred to no longer exist :)

[2022-11-08 11:17] #60 closed

[2022-11-08 17:49] MiguelAvillez opened #466 "Regularized propagators"
Implementation of regularized propagators: stabilized Cowell and Dromo(P).
Branch: https://github.com/MiguelAvillez/tudat/tree/feature/regularized_propagators

Relevant literature:

- "REGULARISED METHODS FOR HIGH-EFFICIENCY PROPAGATION", Geul et al. (2016)
- "DROMO propagator revisited", Urrutxua et al. (2016)
- "ACCURATE COMPUTATION OF HIGHLY ECCENTRIC SATELLITE ORBITS", Janin (1974)
- "Regulari

[2022-11-30 15:34] sbcowan opened #82 "Astroquery Interface (combining pybind11 with native python modules)"
With the interest in adding an interface with Astroquery, a TudatPy module needs to contain both exposed C++ code (from Tudat) and native python code (from Astroquery).

Using something similar to [scikit_build_example](https://github.com/pybind/scikit_build_example) makes this possible. When cloned, you can add C++ functions to files in the src/ directory and use pybind to expose them. You can al